---
component: breadcrumbs
---

<ul class="breadcrumbs">
  <li class="breadcrumbs__item">
    <a href="#">Home</a>
  </li>
  <li class="breadcrumbs__item">
    <a href="#">Category Name</a>
  </li>
  <li class="breadcrumbs__item breadcrumbs__item--active">
    <a href="#">Subcategory Name</a>
  </li>
</ul>
